/* font css link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* full body css style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* header css style  start*/
header{
    margin-top: 90px;
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-around
   

}
ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    padding-right:  34px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.nav-icon{
    font-size: 25px;
}
/* header css style  end*/



/* first section css style */
.conteinar{
    display: flex;
    margin-left: 15%;
    margin-top: 50px;
}

.first-left{
    width: 50%;
}
.top-heading-1{
    font-size: 52px;
    margin-bottom: 16px;
}
.top-paragraph{
    font-weight: 600;
}
.top-ancor{
    text-decoration: none;
    background: #E02C6D;
    border-radius: 41px;
    color: #FFFFFF;
    padding: 10px 25px;
    font-weight: 700;
}
.bx-right-arrow-alt{
    position: relative;
    top: 6px;
    font-size: 25px;
}
.img-2{
    position: relative;
    left: 10px;
    bottom: 50%;
}
/* end section css style */



/* second section css style start */
.conteinar-2{
    
    margin-top: -18%;
    width: 1110px;
    height: 110px;
    border-top: 2px solid rgba(128, 128, 128, 0.119);
    border-bottom: 2px solid rgba(128, 128, 128, 0.119);
    margin-left: 20%;
}
.conteinar-2 img{
    padding-left: 60px;
    padding-top: 30px;
    
}
/* second section css style end */


